body{
  background-color: #252525;
}
.links{
  color: #fff;
  font-size: 25px;
  margin: 25px;
}
h1{
  text-align: center;
  font-size: 300%;
  font-family: sans-serif;
  color: #fff;
}
h2{
  text-align: center;
  font-size: 200%;
  font-family: sans-serif;
  color: #fff;
}
.box{
  display: inline-block;
  background-color: #fff;
  width: 300px;
  border: 15px solid #da2d2d;
  padding: 25px;
  margin: 72px;
}
li{
  font-size: 20px;
  line-height: 30px;
}
.Image_Text{
  text-align: center;
}
.header_image{
  width: 28%;
}
.N_section{
  text-align: center;
  background-color: #fafafa;
}
.N_h2{
  color: #393e46;
}
.N_p{
  font-size: 20px;
}
.h_image{
  width: 145px;
}

.small-box{
  display: inline-block;
}
